@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto Condensed", Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
}
h3 {
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}
h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line-height: 1em;
}
h5 {
  font-size: 1.2em;
  line-height: 1em;
}
.nav-bar {
  background-color: rgb(25, 33, 41);
  color: white;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
.nav-bar ul {
  list-style-type: none;
}
header {
  background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerimg {
  height: 650px;
}
.headerimg h2 {
  color: #fafafa;
  text-shadow: #020819 8px -20px 9px;
}
.quote {
  font-size: 2.5em;
}
.dark-background {
  background-color: black;
  color: #fafafa;
}
.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}
.link-btn {
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
}
.service-box {
  font-size: 1.7em;
  text-align: center;
}
.service-box img {
  width: 125px;
}
.section-text {
  font-size: 1.9em;
  text-align: center;
}
#team img {
  width: 250px;
  height: 180px;
}
.dark-background-footer {
  font-size: 1.9em;
  text-align: center;
  background-color: black;
  color: #fafafa;
}
.address {
  font-style: normal;
  font-size: 0.8em;
}
.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}
.footer {
  list-style: none;
}
