@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

#img-title {
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
  width: 95%;
  margin-bottom: 5%;

  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: -10%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: grey;
  margin-left: 12%;
  margin-right: 12%;
}
#intro {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  text-align: left;
  justify-content: left;
  line-height: 25px;
}
main img {
  width: 30%;
  position: relative;
  left: 40%;
}
#ingredients ul {
  list-style-type: "-";
  margin: 0 0 1rem 1rem;
}
#ingredients img {
  width: 30%;
  position: relative;
  left: 40%;
}

#ingredients li {
  padding-left: 0;
}

#ingredients,
hr,
.directions {
  margin-left: 10%;
  margin-right: 10%;
}

hr {
  border-width: 1.5px;
  border-style: solid;
  color: darkgrey;
}